@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Amazing Activity Cards
    @description  Makes Discord's normal activity cards look a bit nicer. Inspired off of NYRI4's Comfy Theme.
    @author       LuckFire#400
    @namespace    github.com/LuckFire/amazing-activity-cards
    @version      1.0.0
    ==/UserStyle== */

    #app-mount .activityUserPopout-2yItg2,
    #app-mount .activityProfile-2bJRaP {
        background: var(--activity-background);
        box-shadow: var(--activity-box-shadow) var(--activity-drop-shadow);
        border-radius: var(--activity-border-radius);
        padding: 10px;
        margin: 0 9px 10px 6px;
    }
    #app-mount .userPopout-3XzG_A .header-2BwW8b {
        background: var(--activity-modal-color);
    }
    #app-mount .inner-1ilYF7 .flex-1xMQg5.root-SR8cQa > div:first-child {
        background: var(--activity-modal-color);
    }
    #app-mount .inner-1ilYF7 .flex-1xMQg5.root-SR8cQa > div:first-child .headerFill-adLl4x {
        background: transparent;
    }
    
    #app-mount .headerPlaying-j0WQBV .activityUserPopout-2yItg2,
    #app-mount .topSectionPlaying-1J5E4n .headerFill-adLl4x .activityProfile-2bJRaP,
    #app-mount .topSectionPlaying-1J5E4n div[class] {
        --activity-background: var(--default-bg);
        --activity-drop-shadow: var(--default-bg-backdrop);
    }
    #app-mount .headerXbox-3G-4PF .activityUserPopout-2yItg2,
    #app-mount .topSectionXbox-3fWLjS .headerFill-adLl4x .activityProfile-2bJRaP {
        --activity-background: var(--xbox-bg);
        --activity-drop-shadow: var(--xbox-bg-backdrop);
    }
    #app-mount .headerSpotify-zpWxgT .activityUserPopout-2yItg2,
    #app-mount .topSectionSpotify-1lI0-P .headerFill-adLl4x .activityProfile-2bJRaP {
        --activity-background: var(--spotify-bg);
        --activity-drop-shadow: var(--spotify-bg-backdrop);
    }
    #app-mount .headerStreaming-2FjmGz .activityUserPopout-2yItg2,
    #app-mount .topSectionStreaming-1Tpf5X .headerFill-adLl4x .activityProfile-2bJRaP {
        --activity-background: var(--streaming-bg);
        --activity-drop-shadow: var(--streaming-bg-backdrop);
    }
    
    #app-mount .headerInfo-30uryT + .actionButton-3W1xZa {
        background-color: #43B581;
        color: #fff;
    }
    #app-mount .headerInfo-30uryT + .actionButton-3W1xZa:hover {
        background-color: #3CA374;
    }
    #app-mount .topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX {
        background-color: #9059F6;
        color: #fff;
    }
    #app-mount .topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX:hover {
        background-color: #804fda;
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeHypesquad-12E2P6 {
        background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse1-3rBtjf {
        background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse2-2oU04B {
        background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse3-1DoJkv {
        background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel1-dbEzVz {
        background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel2-3TUciC {
        background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeEarlySupporter-2ng_jL {
        background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgePremium-1KDZYC {
        background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl1-3oI9tx {
        background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl2-r6nJHT {
        background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl3-38s3Dj {
        background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl4-2NXrsI {
        background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl5-3XIa2K {
        background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl6-3e3sxW {
        background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl7-1dVhQT {
        background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl8-1kXdFr {
        background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl9-1d6zav {
        background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeStaff-3BXdTO {
        background-image: url(/assets/4358ad1fb423b346324516453750f569.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgePartner-j6Lwhr {
        background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg);
    }
    #app-mount .profileBadge-2niAfJ.profileBadgeVerifiedDeveloper-195KfD {
        background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg);
    }
    #app-mount .profileBadge-2niAfJ[class*=powercord-badge] svg {
        color: #7289DA;
    }
    #app-mount .wrapper-3t9DeA .svg-2V3M55 [mask*=status-online] {
        fill: #43B480;
    }
    #app-mount .wrapper-3t9DeA .svg-2V3M55 [mask*=status-idle] {
        fill: #F8A51A;
    }
    #app-mount .wrapper-3t9DeA .svg-2V3M55 [mask*=status-dnd] {
        fill: #F04747;
    }
    #app-mount .wrapper-3t9DeA .svg-2V3M55 [mask*=status-streaming] {
        fill: #9059F6;
    }
    #app-mount .activity-1ythUs .activityHeader-1PExlk, #app-mount .activity-1ythUs .customStatusText-39gdCI {
        color: var(--header-secondary);
    }
    #app-mount .customStatus-1bh2V9 .customStatusText-3YJeRZ {
        color: var(--header-secondary);
    }
    #app-mount .nameTag-m8r81H:not(.nameTag-2IFDfL) {
        color: var(--header-secondary);
    }
}