#app-mount {
    // Buttons
    .headerInfo-30uryT + .actionButton-3W1xZa {
        background-color: #43B581;
        color: #fff;

        &:hover {
            background-color: #3CA374;
        }
    }

    .topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX {
        background-color: #9059F6;
        color: #fff;

        &:hover {
            background-color: #804fda;
        }
    }

    // Badges
    .profileBadge-2niAfJ {
        // Hypesquad
        &.profileBadgeHypesquad-12E2P6 { background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg); }
        &.profileBadgeHypeSquadOnlineHouse1-3rBtjf { background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg); }
        &.profileBadgeHypeSquadOnlineHouse2-2oU04B { background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg); }
        &.profileBadgeHypeSquadOnlineHouse3-1DoJkv { background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg); }

        // Bug Hunter
        &.profileBadgeBugHunterLevel1-dbEzVz { background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg); }
        &.profileBadgeBugHunterLevel2-3TUciC { background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg); }

        // Premium / Server Boost
        &.profileBadgeEarlySupporter-2ng_jL { background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg); }
        &.profileBadgePremium-1KDZYC { background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg); }
        &.profileGuildSubscriberlvl1-3oI9tx { background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg); }
        &.profileGuildSubscriberlvl2-r6nJHT { background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg); }
        &.profileGuildSubscriberlvl3-38s3Dj { background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg); }
        &.profileGuildSubscriberlvl4-2NXrsI { background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg); }
        &.profileGuildSubscriberlvl5-3XIa2K { background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg); }
        &.profileGuildSubscriberlvl6-3e3sxW { background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg); }
        &.profileGuildSubscriberlvl7-1dVhQT { background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg); }
        &.profileGuildSubscriberlvl8-1kXdFr { background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg); }
        &.profileGuildSubscriberlvl9-1d6zav { background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg); }

        // Misc
        &.profileBadgeStaff-3BXdTO { background-image: url(/assets/4358ad1fb423b346324516453750f569.svg); }
        &.profileBadgePartner-j6Lwhr { background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg); }
        &.profileBadgeVerifiedDeveloper-195KfD { background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg); }
        &[class*="powercord-badge"] svg { color: #7289DA; } // laziness go brrrt
    }


    // Statuses
    .wrapper-3t9DeA .svg-2V3M55 {
        [mask*="status-online"] {
            fill: #43B480;
        }

        [mask*="status-idle"] {
            fill: #F8A51A;
        }

        [mask*="status-dnd"] {
            fill: #F04747;
        }

        [mask*="status-streaming"] {
            fill: #9059F6;
        }
    }


    // Text
    .activity-1ythUs {
        .activityHeader-1PExlk, .customStatusText-39gdCI { 
            color: var(--header-secondary); 
        }
    }
    .customStatus-1bh2V9 .customStatusText-3YJeRZ { 
        color: var(--header-secondary); 
    }
    .nameTag-m8r81H:not(.nameTag-2IFDfL) { 
        color: var(--header-secondary); 
    }
}