:root {
    /* Cards */
    --activity-modal-color: var(--background-tertiary);
    --activity-border-radius: 3px;
    --activity-box-shadow: 2px 2px 2px;

    /* Activity Card Colors */
    --default-bg: #7289DA;
    --default-bg-backdrop: #5a6caf;
    --xbox-bg: #107C10;
    --xbox-bg-backdrop: #0a530a;
    --spotify-bg: #1DB954;
    --spotify-bg-backdrop: #218F4F;
    --streaming-bg: #9059F6;
    --streaming-bg-backdrop: #694EA8;
}